.card {
  max-width: 800px;
  max-height: 500px;
  margin: 0 auto;
  padding: 10px;
}

li {
  list-style-type: none;
  margin: 10px 0;
}
// li .card:hover {
//   color: rgb(3, 41, 13);
//   background-color: rgb(193, 243, 215);
// }

ol {
  padding: 0;
}
